.not_logged_in_header {
    display: flex;
    padding-left: 0;
}
.not_logged_in_header li {
    margin-right: 30px;
    list-style: none;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
}

.header_left {
    display: flex;
}
.header_left li {
    margin-right: 30px;
}
.header_right {
    display: flex;
}
.header_right li {
    margin-left: 30px;
}
/* エラーメッセージのスタイル */
.error {
    color: red;
}
/* 成功メッセージのスタイル*/
.success {
    color: green;
}

.textarea {
    display: block;
}

.delete {
    display: inline;
}

/*投稿のcss*/
.posts {
    padding: 0px;
}
.post {
    margin-bottom: 30px;
}
.post_body_main {
    display: flex;
}
.post_body_heading {
    background-color: #dddddd;
    font-weight: bold;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0px 0px 10px 0px;
}

/*フォロー*/
.follow {
    cursor: pointer;
}

/*.search {*/
/*    width: fit-content;*/
/*    margin: 0px auto;*/
/*}*/